// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-grey: #F4F4F4;

// CHECK MY BEERS COLORS

$white: #f8f8f8;
$beige: #f1d6ab;
$dark-yellow: #e3b04b;
$mydark: #2b2b28;
$warm-yellow: #ffcc00;
$mylight-grey: #f1f3f4;
$warm-pink: #ff6666;
$flash-pink: #e32249;
