.scanner {
  grid-column: 1 / 3;
  #scandit-barcode-picker {
    height: 100vh !important;
  }
  video {
    object-fit: cover !important;
  }
}

.scandit.scandit-barcode-picker {
    max-height: 100% !important;
}
