<div class="footer">
  <div class="nav-footer">
    <%= link_to root_path do %>
      <i class="fas fa-home"></i>
    <% end %>
    <%= link_to beers_path do %>
      <i class="fas fa-beer"></i>
    <% end %>
    <%= link_to scan_path do %>
      <%= image_tag 'scan-pictoW.png' %>
    <% end %>
  </div>
</div>
