
<div class="navbar">
  <%= link_to beers_path, class: "navbar-brand" do %>
    <%= image_tag "beer_logo.png" %>
  <% end %>

  <div class="right-nav">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggle"><i class="fas fa-bars"></i></span>
    </button>
  </div>
</div>
