<div class="container">
  <h3>Guide des catégories</h3>
  <div class="dico-content">
    <ul>

      <li>
        <input type="checkbox" checked>
        <i></i>
        <h5>ALE</h5>
        <p>Aaaah un terme intéressant ! Aussi surprenant que cela puisse paraître (ou pas),
        Ale signifie “bière” en anglais, mais plutôt son ancêtre, la cervoise avant l’utilisation actuelle des houblons.
        Ale désigne aussi en français les bières de fermentation haute</p>
      </li>

      <li>
        <input type="checkbox" checked>
        <i></i>
        <h5>APA</h5>
        <p>APA = American Pale Ale = bière avec une amertume plus marquée et sèche et produite à base de houblons
        américains. </p>
      </li>

      <li>
        <input type="checkbox" checked>
        <i></i>
        <h5>Abbaye</h5>
        <p>Se dit d'une bière qui, à défaut d'être actuellement fabriquée à l'abbaye, le fut (au mieux)
        il y a quelques années, ou plus généralement est fabriquée non loin d'un monastère (ou parfois de ses ruines...).
        À ce jour, rares sont les abbayes belges (sauf les trappistes) qui brassent encore elles mêmes
        une bière commercialisée.</p>
      </li>

      <li>
        <input type="checkbox" checked>
        <i></i>
        <h5>Craft</h5>
        <p>De l’anglais “artisanat”, c’est pour ça que tu le retrouves à toutes les sauces ici !
        Par démarcation avec l’industriel notamment.</p>
      </li>

      <li>
        <input type="checkbox" checked>
        <i></i>
        <h5>IPA</h5>
        <p>India Pale Ale : style de bières amères assez répandu en ce moment.
        Ça se prononce à l’anglaise : “Aïe Pis Ai” and I think it’s beautiful.</p>
      </li>

      <li>
        <input type="checkbox" checked>
        <i></i>
        <h5>IRS</h5>
        <p>IRS = Imperial Russian Stout : ce sont les reines des bières Stout !
        Plus forte en tout.</p>
      </li>

      <li>
        <input type="checkbox" checked>
        <i></i>
        <h5>Kriek</h5>
        <p>La Kriek Lambic est une bière résultant d'un mélange de gueuze lambic et de cerises
        (macérées pendant plusieurs mois dans la gueuze). Il s'agit probablement du mélange fruité à base de gueuze
        le plus ancien, plus récemment sont apparus des mélanges à partir de cassis, framboise, pêche, fraise, raisin,
        banane, mirabelle etc...</p>
      </li>

      <li>
        <input type="checkbox" checked>
        <i></i>
        <h5>Lager</h5>
        <p>De fermentation basse, elles sont plutôt légères et désaltérantes.
        Tu en as déjà bu c’est sûr, c’est le style le plus répandu dans l’industrie de la bière.</p>
      </li>

      <li>
        <input type="checkbox" checked>
        <i></i>
        <h5>Lambic</h5>
        <p>Bière de fermentation spontanée principalement produite dans le sud et l’ouest de Bruxelles.
        Il n’y a pas d’ajout de levure, ces dernières sont présentes dans l’air ambiante.
        Leur goût est plutôt orienté vers l’acidité qui se marie bien avec des touches sucrées.</p>
      </li>

      <li>
        <input type="checkbox" checked>
        <i></i>
        <h5>NEIPA</h5>
        <p>NEIPA = New England India Pale Ale. Style de bières moins amères que les IPA et qui met très bien en
        valeur les houblons utilisés grâce à ses notes fruitées et florales (mangue, fruit de la passion tout ça tout ça).
        Ça se prononce “neïpa” et pas N-E-I-P-A.</p>
      </li>

      <li>
        <input type="checkbox" checked>
        <i></i>
        <h5>Pils</h5>
        <p>Bière blonde qui trouve son origine dans la brasserie de Pilsen en République tchèque, où l'eau,
        pauvre en sels minéraux, confère à la bière une douceur inégalée et permet de la houblonner très fortement
        avec du houblon de Saaz, considéré comme le plus fin au monde, sans qu'en résulte un goût âcre et désagréable.</p>
      </li>

      <li>
        <input type="checkbox" checked>
        <i></i>
        <h5>Porter</h5>
        <p>Prononcé à l’anglaise “porteur”, ce mot désigne un style de bière de couleur brune/noire et d’origine anglaise.</p>
      </li>

      <li>
        <input type="checkbox" checked>
        <i></i>
        <h5>Pale Ale</h5>
        <p>Bière ambrée, bien houblonnée de la famille Ale.</p>
      </li>

      <li>
        <input type="checkbox" checked>
        <i></i>
        <h5>Sour</h5>
        <p>Style de bières qui définit les bières acides. Plutôt rafraîchissant et avec des notes plutôt vinaigrées ou aigres.</p>
      </li>

      <li>
        <input type="checkbox" checked>
        <i></i>
        <h5>Stout</h5>
        <p>Les stout sont bien de couleur sombre sans être noirs, plus précisément Dark Ruby Red
        (en gros rouge foncé). On les reconnaît aussi grâce à leur mousse épaisse et collante au verre.
        À la dégustation, ce sont des saveurs torréfiées de café, caramel, chocolat ou encore cacao qui stimulent les papilles.
        Elles ont aussi un côté amer dû aux houblons.</p>
      </li>

      <li>
        <input type="checkbox" checked>
        <i></i>
        <h5>Wheat</h5>
        <p>Blé en anglais. Cette céréale se retrouve dans les wheat ale (bien vu champion),
        c’est-à-dire les bières “blanches” principalement.</p>
      </li>

    </ul>

  </div>
  <%= render 'shared/footer' %>
</div>























