.banner-product {
  position: relative;
  grid-column: 1 / 5;
  .back-btn {
    position: absolute;
    left: 18px;
    top: 10px;
  }
}

.banner-product img {
  width: 100%;
  height: calc(100vh - 60px);
  object-fit: cover;
}

.banner-product h3 {
  position: absolute;
  color: $white;
  bottom: 20px;
  left: 30px;
  font-size: 40px;
  letter-spacing: 2px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}


