.beer-card {
  width: 100%;
  height: 120px;
  background: white;
  display: flex;
  // align-items: center;
  flex-wrap: wrap;
  border-bottom: 1px solid $mylight-grey;
  .card-beer-infos {
    display: grid;
    grid-template-columns: 200px auto;
    padding: 10px 16px;
    min-width: calc(100% - 120px);
    position: relative;
  }
  h4 {
    margin-bottom: 2px;
  }
  a {
    position: absolute;
    display: block;
    color: transparent;
    width: 100%;
    height: 100px;
  }
  &:hover {
    background-color: $warm-yellow;
  }
}

@media (max-width: 600px) {
  .card-beer-infos {
    padding: 7px 16px !important;
  }
}

.beer-card img {
  width: 110px;
  height: 100%;
  object-fit: contain;
}

.main-infos {
  position: relative;
}

.brewery {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 12px;
  color: $dark-yellow;
  margin-bottom: 0;
}

.line {
  height: 5px;
  width: 30px;
  background-color: $dark-yellow;
}

.category {
  position: absolute;
  bottom: 5px;
  margin-bottom: 0;
  i {
    margin-right: 5px;
    color: $dark-yellow;
  }
}

.rate-info {
  font-size: 17px;
  color: $dark-yellow;
}

.beer-card .beer-wrapper {
  width: 110px;
  height: 120px;
  background-color: $mydark;
}









