.form-login {
  grid: 1 / 3;
  padding: 0 10px 0 10px;
  label {
    color: $mydark;
    opacity: 0.8;
    font-style: italic;
  }
  input {
    border: 2px solid $warm-yellow;
    width: 100%;
  }
  a {
    color: $mydark;
  }
  a:hover {
    color: $warm-yellow;
  }
  .simple_form {
    // border: 3px solid $mydark;
    // padding: 10px 20px;
  }
}

.profile-avatar-form {
  input {
    // background-color: $warm-yellow;
  }
}

.form-login .form-actions input {
  background-color: $warm-yellow;
  color: $white;
  text-transform: uppercase;
  font-size: 14px;
  max-height: 30px;
  min-height: 30px;
  // width: 140px;
  margin-top: 20px;
  margin-bottom: 10px;
  border: 0;
  &:hover {
    background-color: $mydark;
  }
}

.user-choice-login {
  display: flex;
  padding-top: 20px;
  .submit-btn {
    text-align: center;
    width: 130px;
    font-size: 10px;
    min-height: 20px;
    padding: 5px;
    margin-right: 10px;
  }
}

.password-btn input {
  width: 200px;
}















