//////////// FORM SEARCH
.form {
  grid-column: 1/3;
  position: relative;
  padding: 40px;
}

.form h1 {
  color: $warm-yellow;
}

::placeholder {
  font-style: italic;
}

select {
  background-color: $white;
}

////////////////////////

