.main-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
}



///////////////////////// MEDIA QUERIES

@media screen(max-width: 667px) {
  .main-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen (max-width: 568px) {
  .main-container {
    grid-template-columns: 1fr 1fr;
  }
}
