.search-geo {
  grid-column: 1 / 5;
  height: 50px;
  background-color: $warm-pink;
  display: flex;
  justify-content: center;
  button {
    color: $white;
    text-transform: uppercase;
    background-color: $warm-pink;
    border-style: none;
    border-color: none;
    width: 100%;
  }
  i {
    margin: 0 8px;
  }
}

#showbtn-search {
  display: inline;
}

#showbtn-search a {
  color: $warm-yellow;
  text-decoration: none;
  padding: 5px;
  &:hover {
    color: $mydark;
  }
  &:visited {
    color: $warm-yellow;
  }
}

.basic-search {
  border-bottom: 6px solid $warm-yellow;
  form {

  }
  input {
    // border: 2px solid $warm-yellow;
    border: none;
    height: 50px;
  }
}

.advanced-search {
  display: none;
  margin-top: 20px;
  border-bottom: 6px solid $warm-yellow;
  h4 {
    padding: 10px 0 0 10px;
    margin-bottom: 0;
  }
  .form-search {
    padding: 10px;
    margin-bottom: 20px;
  }
  .flex {
    grid-column: 1;
  }
  form {
  }
  // select {
  //   border: 2px solid $warm-yellow;
  //   border-radius: 0;
  //   max-width: 150px;
  //   height: 40px;
  //   margin: 10px 10px 0 0;
  //}
}


.form-search .submit-btn {
  margin-top: 20px;
}

.price-range {
  margin: 10px 0 10px 0;
  input {
  border: 2px solid $warm-yellow;
  width: 100px;
  background-color: $white;
  }
}
