.search-nav {

}

#openbtn-search {
  display: inline;
}

#openbtn-search a {
  color: $warm-yellow;
  text-decoration: none;
  &:hover {
    color: $mydark;
  }
  &:visited {
    color: $warm-yellow;
  }
}

.basic-search {
  border-bottom: 6px solid $warm-yellow;
  form {

  }
  input {
    // border: 2px solid $warm-yellow;
    border: none;
    height: 50px;
  }
}

.advanced-search {
    margin-top: 20px;
    border-bottom: 6px solid $warm-yellow;
  h4 {
    padding: 10px 0 0 10px;
  }
  .flex {
    // display: flex;
    // flex-wrap: wrap;
    // justify-content: space-around;
    grid-column: 1;
    padding: 10px;
  }
  form {
  }
  select {
    border: 2px solid $warm-yellow;
    border-radius: 0;
    max-width: 150px;
    height: 40px;
    margin: 10px 10px 0 0;
  }
}

.price-range {
  // display: flex;
  // justify-content: center;
  margin: 10px 0 10px 0;
  input {
  border: 2px solid $warm-yellow;
  width: 100px;
  background-color: $white;
  }
}
