<div class="form-container">
  <h1>Your review</h1>
  <div class="form-box">
    <%= simple_form_for([ @beer, @review ]) do |f| -%>
      <%= f.input :content %>
      <%= f.input :rate, collection: Review::STARS %>
  </div>
      <%= f.submit class: "bookme-btn" %>
    <% end -%>
</div>

