<div class="form ">
  <h1>Your Review</h1>
    <%= simple_form_for([ @beer, @review ]) do |f| %>
      <%= f.input :content, placeholder: 'Enter your Comment' %>
      <%= f.input :rate, collection: Review::STARS, prompt: 'Your Rating' %>
      <%= f.submit class: "submit-btn" %>
    <% end %>
</div>

